@import '~react-big-calendar/lib/css/react-big-calendar.css';


.rbc-calendar {
  background-color: #2b2b2b; 
  color: #dcdcdc; 
}

.rbc-toolbar button {
  color: #fff; 
}

.rbc-today, .rbc-btn-primary, .rbc-btn-group > button {
  background-color: #3174ad; 
  color: #050505; 
}

.rbc-header {
  background-color: #3174ad; 
  color: #fff; 
}

.rbc-day-bg {
  background-color: #333; 
}

.rbc-time-header-content {
  color: #dcdcdc; 
}

.rbc-event {
  background-color: #3174ad; 
  color: #fff; 
}

.rbc-selected {
  background-color: #3174ad; 
}

.rbc-event-label {
  color: #fff; 
}
