/* Import React Big Calendar CSS */
@import '~react-big-calendar/lib/css/react-big-calendar.css';

/* Dark theme for calendar */
.rbc-calendar {
  background-color: #2b2b2b; /* Dark background color */
  color: #dcdcdc; /* Light text color */
}

.rbc-toolbar button {
  color: #fff; /* Light text color for buttons */
}

.rbc-today, .rbc-btn-primary, .rbc-btn-group > button {
  background-color: #3174ad; /* Blue background color for today, back, next buttons */
  color: #fff; /* White text color */
}

.rbc-header {
  background-color: #3174ad; /* Blue background color for header */
  color: #fff; /* White text color for header */
}

.rbc-day-bg {
  background-color: #333; /* Darker background color for day background */
}

.rbc-time-header-content {
  color: #dcdcdc; /* Light text color for time header */
}

.rbc-event {
  background-color: #3174ad; /* Change background color for events */
  color: #fff; /* Change text color for events */
}

.rbc-selected {
  background-color: #3174ad; /* Change background color for selected date */
}

.rbc-event-label {
  color: #fff; /* Change text color for event labels */
}

/* Media query for mobile screens */
/* @media screen and (max-width: 768px) {
  .header {
    width: 54%; /* Adjusted width for mobile screens */
 